@import url("normalize.css");
@import url("open-iconic/open-iconic-bootstrap.css");
@import url("../../node_modules/ladda/dist/ladda.min.css");

.i-will-come-buttons {
    width: 150px;
}

#poke-master-counter-text {
    font-size: 50px;
}

.i-will-come-button {
    height: 100px;
    width: 100%;
}

ul.borderless li {
  border: 0 none;
}

.incoming-trainers {
    font-size: 17px;
}

#confirmResignModal .modal-dialog {
    height: 100%;
    width: 100%;
    margin: 0;
}

#confirmResignModal .modal-content {
    height: 100%;
    width: 100%;
}
